a:hover {
	color: #673ab7;
	font-weight: bold
}

a {
	color: #4527a0;
	font-weight: bold
}

code {
	padding: 3px;
	margin: 0 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

pre, code {
	width: 100%;
	color: #222;
	background-color: #fff;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
